apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ./persistent_image_cache.yml
- ./../../manifests/
namespace: production

  # Use separate StorageClass for image-cache PVC in staging
patches:
- patch: |
    $patch: delete
    apiVersion: v1
    kind: PersistentVolume
    metadata:
      name: image-cache-vol
  target:
    kind: PersistentVolume
    name: image-cache-vol
- patch: |
    apiVersion: v1
    kind: PersistentVolumeClaim
    metadata:
      name: image-cache
    spec:
      storageClassName: production-image-cache-vol
  target:
    kind: PersistentVolumeClaim
    name: image-cache
images:
- name: '*/todo_app:*'
  newName: europe-north1-docker.pkg.dev/dwk-gke-iku/dwk-artifact-repo/todo_app
  newTag: todo-app-0.91-c81c6de18392fb1dac16776fd6ab99d864b66754
- name: '*/todo_backend:*'
  newName: europe-north1-docker.pkg.dev/dwk-gke-iku/dwk-artifact-repo/todo_backend
  newTag: todo-app-0.91-c81c6de18392fb1dac16776fd6ab99d864b66754
- name: '*/todo_broadcaster:*'
  newName: europe-north1-docker.pkg.dev/dwk-gke-iku/dwk-artifact-repo/todo_broadcaster
  newTag: todo-app-0.91-c81c6de18392fb1dac16776fd6ab99d864b66754
