# add-gcp-sa-key-patch.yaml
apiVersion: batch/v1
kind: CronJob
metadata:
  name: add-todo-db-backup-cronjob
spec:
  jobTemplate:
    spec:
      template:
        spec:
          volumes:
            - name: gcp-sa-key
              secret:
                secretName: backup-gcp-service-account-key
                items:
                  - key: key.json
                    path: key.json
          containers:
            - name: todo-backend-backup-cron
              volumeMounts:
                - name: gcp-sa-key
                  mountPath: /var/secrets/google
                  readOnly: true
              env:
                - name: GOOGLE_APPLICATION_CREDENTIALS
                  value: /var/secrets/google/key.json

