apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ./persistent_image_cache.yml
- ./../../manifests/
namespace: staging

  # Don't deploy the backup CronJob in staging
  # Use separate StorageClass for image-cache PVC in staging
patches:
- patch: |
    $patch: delete
    apiVersion: batch/v1
    kind: CronJob
    metadata:
      name: add-todo-db-backup-cronjob
  target:
    kind: CronJob
    name: add-todo-db-backup-cronjob
- patch: |
    $patch: delete
    apiVersion: v1
    kind: PersistentVolume
    metadata:
      name: image-cache-vol
  target:
    kind: PersistentVolume
    name: image-cache-vol
- patch: |
    apiVersion: v1
    kind: PersistentVolumeClaim
    metadata:
      name: image-cache
    spec:
      storageClassName: staging-image-cache-vol
  target:
    kind: PersistentVolumeClaim
    name: image-cache
images:
- name: '*/todo_app:*'
  newName: europe-north1-docker.pkg.dev/dwk-gke-iku/dwk-artifact-repo/todo_app
  newTag: 4.10-f8b796f26780a499ef53ceecc967b1ad0e84ec46
- name: '*/todo_backend:*'
  newName: europe-north1-docker.pkg.dev/dwk-gke-iku/dwk-artifact-repo/todo_backend
  newTag: 4.10-f8b796f26780a499ef53ceecc967b1ad0e84ec46
- name: '*/todo_broadcaster:*'
  newName: europe-north1-docker.pkg.dev/dwk-gke-iku/dwk-artifact-repo/todo_broadcaster
  newTag: 4.10-f8b796f26780a499ef53ceecc967b1ad0e84ec46
