apiVersion: apps/v1
kind: Deployment
metadata:
  name: ping-pong-deployment
  namespace: exercises
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ping-pong
  template:
    metadata:
      labels:
        app: ping-pong
    spec:
      securityContext:
        runAsUser: 999
        runAsGroup: 999
        fsGroup: 999
      containers:
        - name: ping-pong
          image: docker.io/iku1/ping_pong:3.4
          imagePullPolicy: Always
          env:
            - name: POSTGRES_URL
              value: "postgresql://postgres@postgres-svc"
            - name: PORT
              value: "5001"
