apiVersion: apps/v1
kind: Deployment
metadata:
  name: todo-app-deployment
  namespace: project
spec:
  strategy:
    type: Recreate
  replicas: 1
  selector:
    matchLabels:
      app: todo-app
  template:
    metadata:
      labels:
        app: todo-app
    spec:
      volumes:
        - name: img-cache
          persistentVolumeClaim:
            claimName: image-cache
      securityContext:
        runAsUser: 999
        runAsGroup: 999
        fsGroup: 999
      containers:
        - name: todo-app
          image: docker.io/iku1/todo_app:3.5.1
          imagePullPolicy: Always
          volumeMounts:
            - name: img-cache
              mountPath: /tmp/img-cache
          env:
            - name: PORT
              value: "5000"
            - name: TODO_BACKEND_URL
              value: "http://todo-backend-svc:80"
            - name: GUNICORN_OPTIONS
              value: "--log-level=error --access-logfile - --disable-redirect-access-to-syslog"
          resources:
            requests:
              memory: "150Mi"
              cpu: "50m"
            limits:
              memory: "256Mi"
              cpu: "500m"
