apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../manifests/namespace.yaml
  - ../../../volumes/persistent_imgcache_claim.yaml
  # Broadcaster
  - ../../todo_broadcaster/00-nats.yml
  - ../../todo_broadcaster/01-nats-service.yaml
  - ../../todo_broadcaster/02-deployment.yaml
  # Backend
  - ../../todo_backend/manifests/01-database.yaml
  - ../../todo_backend/manifests/02-deployment.yaml
  - ../../todo_backend/manifests/03-service.yaml
  # Use Gateway API instead of Ingress 
  #- ../../todo_backend/manifests/04-ingress.yaml
  - ../../todo_backend/manifests/05-cron.yaml
  # Frontend
  - ../../todo_app/manifests/deployment.yaml
  - ../../todo_app/manifests/service.yaml
  # Use Gateway API instead of Ingress 
  #- ../../todo_app/manifests/ingress.yaml
  - todo-app-gateway.yaml
  - todo-app-route.yaml

# Do required customization for GKE
patches:
  - path: patch-remove-db-storageclass.yaml
    target:
      kind: StatefulSet
      name: postgres-stset
  - path: patch-remove-img-storageclass.yaml
    target:
      kind: PersistentVolumeClaim
      name: image-cache
  - path: patch-add-db-subpath.yaml
    target:
      kind: StatefulSet
      name: postgres-stset
  - path: patch-add-img-subpath.yaml
    target:
      kind: Deployment
      name: todo-app-deployment
  - path: patch-change-service-port-to-80.yaml
    target:
      kind: Service
      name: todo-app-svc
