name: Release the Project

on:
  push:
    branches:
      - "**"

env:
  PROJECT_ID: ${{ secrets.GKE_PROJECT }}
  GKE_CLUSTER: dwk-cluster
  GKE_ZONE: europe-north1-b
  REGISTRY: europe-north1-docker.pkg.dev
  REPOSITORY: dwk-artifact-repo
  BRANCH: ${{ github.ref_name }}

jobs:
  build-publish-deploy:
    name: Build, Publish and Deploy
    environment: GKE
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set Kubernetes namespace to use
        run: |
          if [ "$BRANCH" = "master" ]; then
            NAMESPACE="project"
          else
            NAMESPACE="$(echo $BRANCH)"
          fi

          echo "NAMESPACE=$NAMESPACE" | tee "$GITHUB_ENV"

      - uses: google-github-actions/auth@v2
        with:
          credentials_json: "${{ secrets.GKE_SA_KEY }}"

      - name: "Set up Cloud SDK"
        uses: google-github-actions/setup-gcloud@v2

      - name: "Use gcloud CLI"
        run: gcloud info

      - name: "Configure docker to use GKE registry"
        run: gcloud --quiet auth configure-docker $REGISTRY

      - name: "Get GKE credentials"
        uses: "google-github-actions/get-gke-credentials@v2"
        with:
          cluster_name: "${{ env.GKE_CLUSTER }}"
          project_id: "${{ env.PROJECT_ID }}"
          location: "${{ env.GKE_ZONE }}"

      - name: "Form the todo-app image name"
        run: echo "TODO_APP_IMAGE_TAG=$REGISTRY/$PROJECT_ID/$REPOSITORY/todo_app:$BRANCH-$GITHUB_SHA" >> $GITHUB_ENV

      - name: Build and push todo-app image
        if: ${{ !env.ACT_SKIP_BUILD }}
        uses: docker/build-push-action@v4
        with:
          context: ./the_project/todo_app
          push: true
          tags: ${{ env.TODO_APP_IMAGE_TAG }}

      - name: "Form the todo-backend image name"
        run: echo "TODO_BACKEND_IMAGE_TAG=$REGISTRY/$PROJECT_ID/$REPOSITORY/todo_backend:$BRANCH-$GITHUB_SHA" >> $GITHUB_ENV

      - name: Build and push todo-app image
        if: ${{ !env.ACT_SKIP_BUILD }}
        uses: docker/build-push-action@v4
        with:
          context: ./the_project/todo_backend
          push: true
          tags: ${{ env.TODO_BACKEND_IMAGE_TAG }}

      - name: Install kubectl CLI
        uses: azure/setup-kubectl@v4
        with:
          version: "latest"

      - name: Set up Kustomize
        uses: imranismail/setup-kustomize@v2.1.0
        with:
          # Need to make local runner using act to work
          github-token: "${{ secrets.GITHUB_TOKEN }}"

      - name: Deploy
        working-directory: the_project/gke/manifests
        run: |-
          kustomize edit set image todo_app:\*=$TODO_APP_IMAGE_TAG
          kustomize edit set image todo_backend:\*=$TODO_BACKEND_IMAGE_TAG
          kustomize --load-restrictor LoadRestrictionsNone build . | kubectl apply -f -
          #kubectl rollout status deployment $SERVICE
          kubectl get services -o wide -n project
